# C++ related
cmake-build-debug
.idea
.vscode/c_cpp_properties.json
.vscode/settings.json
tests/_deps/*
tests/build/*
tests/CMakeFiles/*
tests/lib/*
tests/Makefile
tests/cmake_install.cmake
tests/CTestTestfile.cmake
tests/hello_test[1]_include.cmake
tests/CMakeCache.txt
CMakeCache.txt

pytest/*
HTML/*

build/.cmake/api/v1/query/client-vscode/query.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/3.31.2/CMakeCCompiler.cmake
build/CMakeFiles/3.31.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.31.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.31.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.31.2/CMakeSystem.cmake
build/CMakeFiles/3.31.2/CompilerIdC/a.out
build/CMakeFiles/3.31.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.31.2/CompilerIdCXX/a.out
build/CMakeFiles/3.31.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/Testing/Temporary/CTestCostData.txt
build/Testing/Temporary/LastTest.log

1091_shortest_path_in_binary_matrix/python/second_variant_1091_return_single_path.py
1004_max_consecutive_ones_3/python/second_variant_1004_python.py

# Python related
__pycache__

